 .custom-challenges-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 2fr)); // Use minmax for flexible columns
  gap: 2rem; 
  /* Removed margin: 0 auto; from here */
  max-width: 90rem; 
  padding: 0 2rem; 
  justify-content: center; // Center the grid items within the container
  width: fit-content; // Shrink the container to fit its content
  margin: 0 auto; // Center the container itself
  
  
  @media only screen and (max-width: 784px) {
    grid-template-columns: 1fr; 
    /* Removed margin-left: 0; */
  }
}

.custom-category-challenge-box {
  background-color: rgba(20, 20, 20, 0.8);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-category-challenge-button {
  width: 20vw;
  
  @media only screen and (max-width: 784px) {
    width: 50vw;
  }
}

.custom-category-challenge-button-icon{
  margin-top : 0.2rem;
}