/* Challenge styles
-------------------------------------------------- */

.challenge-desc {
  overflow-wrap: anywhere;
  img {
    max-width: 100%;
  }
}

.challenge-info {
  max-height: 60vh !important;
  overflow: auto !important;
  hr {
    margin-top: 0;
  }
}

.challenge-button {
  box-shadow: 3px 3px 3px var(--bs-secondary);
}

.challenge-solved {
  opacity: 0.6;
}

.modal-text{
  margin-bottom:0;
}

.custom-challenge-header{
  display: flex;
  flex-direction: row;
}

.custom-modal-footer{
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
  background-color: var(--bs-modal-footer-bg);
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
  gap : 2rem;
}

.custom-challenge-id{
  width: 50%;
}

.custom-category-button{
  border : solid;
  padding : 0.5rem;
  border-radius: 0.5rem;
}

.custom-modal-header {
  padding: 16px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

$btn_color : #7aafff;

.custom-challenge-button,
.custom-solves-button {
  color: #9b9b9b;
  margin-left: 10px;
  margin-bottom: auto;
  border: 1px solid transparent; // Always allocate space for a border to avoid padding shift
  padding: 0.5rem;
  border-radius: 0.2rem;
  background: none;

  &:hover {
    color: $btn_color;
    border-color: $btn_color;
  }

  &:focus {
    color: $btn_color;
    outline: 2px solid var(--bs-primary, $btn_color);
    outline-offset: 1px;
    border-color: $btn_color;
  }

  &:active {
    color: $btn_color;
    border-color: $btn_color;
  }

  &.active {
    color: $btn_color;
    border-color: $btn_color;
  }
}


.custom-ul-nav-tabs-override{
  border :none;
}