.custom-challenges-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 equal columns
  gap: 5rem; 
  margin: 0 auto;
  margin-left: -5rem; 
  max-width: 90rem; 
  padding: 0 2rem; 
  
  @media only screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr); 
    margin-left: 0; 
  }
  
  @media only screen and (max-width: 784px) {
    grid-template-columns: 1fr; 
    margin-left: 0; 
  }
}

.custom-category-challenge-box {
  background-color: rgba(20, 20, 20, 0.8);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-category-challenge-button {
  width: 20vw;
  
  @media only screen and (max-width: 784px) {
    width: 50vw;
  }
}

.custom-category-challenge-button-icon{
  margin-top : 0.2rem;
}