.custom-navbar{
  left : 0;
  right : 0;
  position: fixed;
  z-index: 1000;
  //background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url($background) !important;
  //background-color: rgba(118, 132, 243, 0.2);
  border-bottom: 1px solid rgba(151, 151, 151, 0.3);
}