/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

main {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

.footer {
  position: absolute;

  /* prevent scrollbars from showing on pages that don't use the full page height */
  bottom: 1px;

  width: 100%;

  /* Set the fixed height of the footer here */
  height: 60px;

  /* Vertically center the text there */
  line-height: 60px;

  /* Avoid covering things */
  z-index: -20;

  //background: url('/img/snow_bottom_border.png');
  background: url('/themes/ctfd-theme/static/img/snow_bottom_border.png');
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  div a small {
    color: black;
  }
    /*background-color: #f5f5f5;*/
}
